@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav a {
  color: white; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
}

Navbar {
  background-color: #001144;
}

.App-link {
  color: #61dafb;
}

.text-green {
  /* display: inline-block; */
  width: 8vw;
  text-align: center;
  font-size: 16px;
  color: rgb(61, 237, 218);
}

.react-datepicker-wrapper {
  width: auto !important;
}

.css-b62m3t-container .css-1s2u09g-control {
  border-width: 0;
}

.swiper {
  width: 98%;
  height: 48vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 15vw;
  object-fit: c;
  border-radius: 30px;
}

/* change ant-time-picker value */

div.ant-picker {
  padding: 0;
}
span.ant-picker-suffix {
  display: none;
}

/* Nav hamburger css */

.hideMenuNav {
  display: none;
}
.showMenuNav {
  display: block;
  position: absolute;
  width: 100%;
  height: 60vh;
  top: 0;
  left: 0;
  background: #001144;
  z-index: 10;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  letter-spacing: 0.5rem;
}

@media (max-width: 1024px) {
  .swiper-slide img {
    width: 60vw;
  }
  .swiper {
    height: 70vh;
  }
}
