@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

nav {
  display: flex;
  justify-content: center;
  width: 100%;
  position: fixed;
}

Navbar {
  background-color: #000E36;
}

.App-link {
  color: #61dafb;
}

.text-green {
  /* display: inline-block; */
  width: 8vw;
  text-align: center;
  font-size: 16px;
  color: rgb(61, 237, 218);
}

.react-datepicker-wrapper {
  width: auto!important;
}

.css-b62m3t-container .css-1s2u09g-control {
  border-width: 0;
}

.swiper {
  width: 98%;
  height: 48vh;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 20vw;
  object-fit: c;
  border-radius: 30px;
}
